%h1 Showing All Available Quizzes

%br
%br
= link_to "New Quiz", new_quiz_path
%br
%br

%table{:border=>1}
  %thead
    %tr
      %th Name
      %th Level
      %th{:colspan => "3"}
  %tbody
    - @quizzes.each do |quiz|
      %tr
        %td= quiz.name
        %td= quiz.level
        %td= link_to 'Show', quiz
        %td= link_to 'Edit', edit_quiz_path(quiz)
        %td= link_to 'Destroy', quiz, method: :delete, data: { confirm: 'Are you sure?' }
